<ion-header>
  <ion-toolbar>
    <!-- Empty Header -->
  </ion-toolbar>
</ion-header>

<ion-content style="--ion-background-color: white; color: black; font-family: Montserrat, sans-serif;">
  <ion-card-header>
    <ion-card-title class="ion-text-left ion-text-uppercase ion-text-very-large" color="primary">
      RETURNS
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-card-header>
      <ion-card-title class="ion-text-left" color="primary">
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>In the event that you are not satisfied with the Products purchased
         exclusively from the website, 
        please contact our&nbsp;Customer service</p><br><br>
        <p>You can exercise your right to return the Products purchased at the Website within 
          thirty (30) days from date of purchase.</p><br><br>
          <p>The Products must be returned in their original condition
             and in their complete original packaging, unopened and sealed, 
             along with any accessorie
            s associated with the Products (promotional gifts included).</p><br><br>
            <p>Morganti Luxury&nbsp; has sole discretion in determining whether the
               Products have been returned in their original condition. Products that 
               are returned incomplete, broken, damaged, worn, unsealed or used by the
                customer will not be subject to a refund. They will be made available to the 
              sender or sent back at Morganti Luxury discretion.</p><br><br>
              <p>Morganti Luxury disclaims all liability and responsibility for any loss, 
                shipping delay or delivery to an incorrect address of any article that you
                 wish to return to the Website, insofar as you assume the risks 
                associated with your chosen shipping method.</p><br><br>
                <p>If you exercise your right to return the Products, we will 
                  refund all payments that we have received from you, including shipping costs, 
                  under all circumstances, within a maximum of fourteen (14) calendar days from 
                  the date you inform us of your decision to cancel the contract.&nbsp; However,
                   we may withhold any refund until we have received the goods or until the user
                    has presented proof that the goods have 
                  been returned, whichever condition is met first.</p><br><br>
                  <p>After receiving the Product, we will proceed with the 
                    aforementioned refund using the same
                     payment method that was used to make the purchase.</p><br><br>
                     <p>The right to cancel the contract, as laid out in this section,
                       only applies to Products purchased exclusively from the Website, and shall in no 
                      case apply to Products purchased in a physical store.</p><br><br>
    </ion-card-content>
    </ion-card-content>