<ion-header>
  <ion-toolbar>
    <!-- Empty Header -->
  </ion-toolbar>
</ion-header>

<ion-content style="--ion-background-color: white; color: black; font-family: Montserrat, sans-serif;">
  <ion-card-header>
    <ion-card-title class="ion-text-left ion-text-uppercase ion-text-very-large" color="primary">
      <h3 class="widget-title">Morganti Luxury Boutique Displays</h3>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
  
    <ion-card-content>
      <p><strong>Morganti Luxury</strong></p><br>
    </ion-card-content>
    <ion-card-content>
      <p><strong>See Beauty Clinic</strong><br>The Pointe West 01 – Palm Jumeirah</p> <br>
    </ion-card-content>
    <ion-card-content>
      <p><strong>Four Seasons DIFC</strong><br>Quarterly Display<br>Building 9, Level GF Gate Village</p><br><br>
      <p>Dubai, United Arab Emirates</p>
    </ion-card-content>
    
    </ion-card-content>