<ion-content class="ion-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-1 mb-5 ion-padding-bottom">
        <div class="page-not-found-main">
          <h1 class="entry-title display-1 text-center">404 <ion-icon name="document"></ion-icon>
        </h1>
          <div>
            <ion-img src="assets/404.png"> 
            </ion-img>
          </div>
          <blockquote class="blockquote">
            <p class="text-center">We're sorry, but the page you were looking for doesn't exist.</p>
          </blockquote>
        </div>
      </div>
      <div class="col-lg-4 ion-margin-top">
        <div class="porto-block">
          <h4>Here are some useful links :</h4>
          <ion-list>
            <ion-item>
              <ion-label><a routerLink=""><ion-icon name="chevron-forward-outline"></ion-icon> Home</a></ion-label>
            </ion-item>
            <ion-item>
              <ion-label><a href="#"><ion-icon name="chevron-forward-outline"></ion-icon> About Us</a></ion-label>
            </ion-item>
            <ion-item>
              <ion-label><a href="#"><ion-icon name="chevron-forward-outline"></ion-icon> Contact Us</a></ion-label>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
  </div>
</ion-content>
