<!-- address section -->
<ion-grid>
  <ion-row>
    <ion-col size="12" size-sm="6" size-md="3">
      <div class="address-section">
        <div class="contact-info">
          <h5> UAE ADDRESS </h5>
          <p> <ion-icon name="location-outline" slot="start"></ion-icon>Al Bataeh 1 Street </p>
          <p><ion-icon name="mail-outline" slot="start"></ion-icon> P.O. Box : 111149 </p>
          <p><ion-icon name="globe-outline" slot="start"></ion-icon> United Arab Emirates </p>
          <p> <ion-icon name="call-outline" slot="start"></ion-icon> +971 50 706 26 29 </p>
          <p><ion-icon name="mail-outline" slot="start"></ion-icon> contact@morgantiluxury.com </p>
        </div>

      </div>

      <!-- links sections -->

    </ion-col>
    <ion-col size="12" size-sm="6" size-md="3">
      <div class="links-section">
        <div class="links-info">
          <h5>QUICK LINKS </h5>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Women's Fragrances</a></li>
            <li><a href="#">Men's Frangrances</a> </li>
            <li><a href="#">Candles</a> </li>
            <li><a href="#">Contact Us</a> </li>
          </ul>
        </div>
      </div>
    </ion-col>

    <!-- customer support section -->



    <ion-col size="12" size-sm="6" size-md="3">
      <div class="customer-section">
        <div class="support-links">
          <h5>CUSTOMER SUPPORT</h5>
          <ul>
            <li><a routerLink="address">Morganti Luxury Boutique Displays</a></li>
            <li><a href="#">Sign in/My Account</a></li>
            <li><a routerLink="privacy-policy">Privacy Policy</a> </li>
            <li><a routerLink="term-condition">Terms&Conditions</a> </li>
            <li><a routerLink="delivery-return" >Delivery&Returns</a> </li>
          </ul>


        </div>
      </div>
    </ion-col>

    <!-- address section -->

    <ion-col size="12" size-sm="6" size-md="3">
      <div class="gb-address">
        <div class="gb-info">
          <h5>GB ADDRESS</h5>

          <p> <ion-icon name="location-outline" slot="start"></ion-icon>71-75 Shelton Street <br>WC2H 9JQ-London
            <br>United Kingdom </p>


        </div>
      </div>

    </ion-col>

  </ion-row>
</ion-grid>

<!-- join morganti heading -->
<ion-grid>
  <ion-row>
    <ion-col size="12">
      <div class="morganti-heading">
        <h2 class="ion-text-center">JOIN MORGANTI</h2>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

<!-- content for social icons -->
<ion-grid>
  <ion-row>
    <ion-col size="12">
      <div class="social-icons">
        <ion-buttons class="ion-justify-content-center">
          <ion-button shape="round" fill="clear">
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-button>
          <ion-button shape="round" fill="clear">
            <ion-icon name="logo-twitter"></ion-icon>
          </ion-button>
          <ion-button shape="round" fill="clear">
            <ion-icon name="logo-youtube"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

<!-- newsteller section -->

<ion-grid>
  <ion-row>
    <ion-col size="12">
      <div class="newsletter-heading">
        <h2 class="ion-text-center">SUBSCRIBE TO OUR NEWSTELLER</h2>
        <div class="input-bar">
          <ion-item>
            <ion-input type="email" placeholder="Email address"></ion-input>
          </ion-item>
          <ion-button color="dark">SUBSCRIBE</ion-button>
        </div>
      </div>
    </ion-col>
  </ion-row>

  <!-- need help section -->
  <ion-row>
    <ion-col size="12">
      <div class="help=section">
        <h5 class="ion-text-center">NEED HELP?</h5>
        <div class="time-sectopn">
          <p class="ion-text-center">+971 50 706 26 29 Monday to Friday – 10 a.m. – 7 p.m. and Saturday – 10 a.m. – 5 p.m. (Excluding public holidays)</p>
        </div>
      </div>
    </ion-col>
  </ion-row>

  <ion-row >
    <ion-col size="12" class="ion-justify-content-center">
      <div class="payment-dection">
        <h5 class="ion-text-center">SECURE PAYMENT</h5>
        <ion-item>
          <div class="Payment-cards-img">
          <ion-img width="280" height="90"  src="./../../assets/images/payment-cards.png.png" alt=""> ></ion-img>
          </div>
        </ion-item>
      </div>
    </ion-col>
  </ion-row>

</ion-grid>