<ion-row>
  <ion-col size="12">
    <ion-img [src]="product?.images[0].src" alt="product"></ion-img>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col size="12">
    <ion-card class="outline-black ion-text-center ion-padding-vertical">
      <ion-img
        src="../../assets/logo.svg"
        style="width: 180px"
        class="d-block mx-auto"
        alt="product"
      ></ion-img>
      <ion-card-header>
        <ion-card-subtitle class="fs-24 text-black fw-400 font-style">
          {{ product?.name }}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="fs-14 text-black" [innerHTML]="product?.description">
      </ion-card-content>
      <div class="d-flex ion-align-items-center ion-justify-content-center">
        <ion-icon
          name="card-outline"
          size="large"
          class="text-black"
        ></ion-icon>
        <span class="ps-10 fs-24 text-black">
          {{ product?.price | currency:'AED'}}
        </span>
      </div>
      <ion-button
        fill="ion-outline-none"
        class="text-black outline-black ion-margin-top px-14"
        routerLink="product-detail/product_id"
        >Shop Now</ion-button
      >
    </ion-card>
  </ion-col>
</ion-row>