.culinia-font{
    font-family: "Calluna", Montserrat;
    font-size: 25px;
}
p{
    font-size: 14px;
    font-weight: 400;
}
.fs-18{
    font-size: 18px;
    font-weight: 300;
}

.ps-10{
    padding-left: 10px;
}