<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>mens-fragrances</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">mens-fragrances</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row class="border-top border-bottom gray-color">
      <ion-col size="12">
        <ion-breadcrumbs >
          <ion-breadcrumb class="font-color fs-14" href="#home"
            ><ion-icon name="home-outline" class="pe-2"></ion-icon
            >Shop</ion-breadcrumb
          >
          <ion-breadcrumb class="font-color fs-14 fw-light p-0" href="#electronics"
            >men</ion-breadcrumb
          >
        </ion-breadcrumbs>
      </ion-col>
    </ion-row>
    <ion-row class="bg-dropdwn mt-5">
      <ion-col size="12" class="px-3">
        <div class="d-flex justify-content-between">
         <select class="form-select bg-white border fs-12 text-uppercase" style="width: 150px;" aria-label="Default sorting">
            <option selected>Default sorting</option>
            <option value="1">Sort by latest</option>
            <option value="2">Sort by price: low to high</option>
            <option value="3">Sort by price: low to high</option>
          </select>
          <select class="form-select bg-white border fs-12" style="width: 70px;" aria-label="12">
            <option selected>12</option>
            <option value="1">24</option>
            <option value="2">36</option>
            
          </select>
        </div>
      </ion-col>

    </ion-row>
    <ion-row class="mt-4">
      <ion-col size="12">
        <ion-card class="shadow-none">
          <ion-img src="../../assets/woman-img.jpg" alt="product"></ion-img>

          <ion-card-header>
            <ion-card-content class="ion-text-center fs-6 p-0">
              <h4>LUXURY PERFUMES, WOMEN</h4>
              <ion-card-title class="ion-text-center small fw-light"
                >Cèdre d’Or by Morganti</ion-card-title
              >
            </ion-card-content>
          </ion-card-header>
          <ion-card-content class="ion-text-center p-0">
            <div
              class="d-flex ion-align-items-center ion-justify-content-center"
            >
              <h2 class="fs-20 fw-700 text-black small">AED 950.00</h2>
              <ion-img
                src="../../assets/icon.svg"
                class="ps-3"
                alt="icon"
              ></ion-img>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="mt-3">
      <ion-col size="12">
        <ion-card class="shadow-none">
          <ion-img src="../../assets/woman-img-2.jpeg" alt="product"></ion-img>

          <ion-card-header>
            <ion-card-content class="ion-text-center fs-6 p-0">
              <h4>LUXURY PERFUMES, WOMEN</h4>
              <ion-card-title class="ion-text-center small fw-light"
                >Tasnim by Morganti</ion-card-title
              >
            </ion-card-content>
          </ion-card-header>
          <ion-card-content class="ion-text-center p-0">
            <div
              class="d-flex ion-align-items-center ion-justify-content-center"
            >
              <h2 class="fs-20 fw-700 text-black small">AED 1,250.00</h2>
              <ion-img
                src="../../assets/icon.svg"
                class="ps-3"
                alt="icon"
              ></ion-img>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ps-4">
        <select class="form-select bg-white border fs-12" style="width: 70px;" aria-label="12">
          <option selected>12</option>
          <option value="1">24</option>
          <option value="2">36</option>
          
        </select>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
