<ion-grid>
  <ion-row>
    <ion-col size="12">
      <ion-img
        src="../../assets/About-logo.svg"
        style="width: 250px"
        class="img-center mx-auto"
        alt="logo"
      ></ion-img>
      <p class="ion-text-center fs-16 pt-2">
        “Let your Soul and Spirit fly into the Mystic”
      </p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <h4 class="ion-text-center fs-1">Our Brand</h4>
      <div class="mt-4">
        <p class="fs-14">
          Morganti Luxury is a Swiss-Italian family-owned brand that
          specializes in perfumery and luxury goods. Our focus is to bring
          together precious fragrances and inspiration to offer a fresh
          perspective on luxury.
        </p>
        <p class="fs-14">
          Morganti Luxury Perfumes are meticulously crafted in Dubai, United
          Arab Emirates, a prominent player in the global perfume industry.
          Our dedication to creating exceptional fragrances is deeply rooted
          in our Swiss-Italian heritage. This heritage ensures that we
          maintain an unwavering commitment to using only the finest quality
          ingredients.
        </p>
        <p class="fs-14">
          The trust and loyalty of our customers are highly valued by us. We
          strive to uphold our Swiss-Italian values and earn the continued
          trust of our customers through our unwavering dedication to
          excellence.
        </p>
        <p class="fs-14">
          We strongly believe in the importance of giving back to nature. As
          part of our objective at Morganti Luxury, our aim is to regenerate
          and replenish what we take from nature. This ensures that each of
          our creations is not only unique but also sustainable.
        </p>
        <p class="fs-14">
          Experience the essence of Morganti Luxury Perfumes today.
        </p>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="mt-5">
    <ion-col size="12">
      <h4 class="ion-text-center fs-1">Our Perfume</h4>
      <div class="mt-4">
        <p class="fs-14">
          Morganti Luxury creates authentic signature fragrances of character
          for unique creative people.
        </p>
        <p class="fs-14">
          Kilian Morganti has selected women and men with strong personality
          and sensibility to give birth to those amazing scents. His
          multi-cultural inspirations are also felt in his creative process.
        </p>
        <p class="fs-14">
          Each scent is a result of a long-term workaround premier quality
          scents and creative fragrance structure.
        </p>
        <p class="fs-14">
          Morganti Luxury refuses compromise and give life to objects that
          arouse mystics emotions.
        </p>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <h3 class="fs-1 text-center">Women’s Fragrance</h3>
      <ion-card class="shadow-none">
        <ion-img
          src="../../assets/Women’s-Fragrance-img.svg"
          class="img-center"
          alt="product"
        ></ion-img>
        <ion-card-content>
          Morganti Women embodies feminine vitality, powerful presence and
          influence. The mix of Iris and African Orange flower with a bit of
          Neroli and Mandarin Orange is really well balanced; it’s a great
          feminine scent which symbolizes a powerful and confident femininity.
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <h3 class="fs-1 text-center">men's Fragrance</h3>
      <ion-card class="shadow-none">
        <ion-img
          src="../../assets/Women’s-Fragrance-img.svg"
          class="img-center"
          alt="product"
        ></ion-img>
        <ion-card-content>
          Morganti Women embodies feminine vitality, powerful presence and
          influence. The mix of Iris and African Orange flower with a bit of
          Neroli and Mandarin Orange is really well balanced; it’s a great
          feminine scent which symbolizes a powerful and confident femininity.
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
