swiper-container  {
    --swiper-pagination-bottom: 11vh;
    --swiper-pagination-bullet-inactive-color: white;
    --swiper-pagination-color: white;
  }
  .gray-dark{
    color: #444;
    font-size: 18px;
  }