<ng-container *ngIf="products.length">
  <swiper-container
  [modules]="swiperModules"
  speed="500" 
  loop="true"
  pagination = 'true'
  autoplay="true"
  >
  <swiper-slide *ngFor="let product of products; let i = index" style="width: 300px !important;">
    <img class="display-img" [src]="product.images[0].src" alt="product">
    <title class="ion-text-center fs-24">
      {{ product.name }}
    </title>
    <ion-card-title class="ion-text-center fs-24">
      {{ product.name }}
    </ion-card-title>
      <ion-card-content class="ion-text-center">
        <div class="d-flex ion-align-items-center ion-justify-content-center">
          <h2 class="fs-20 fw-700 text-black">
            {{ product.price | currency:'AED'}}
            <span class="fw-200 ps-10">
              Plus GCC Duty & VAT
            </span>
          </h2>
          <ion-img src="../../assets/icon.svg" class="ps-10" alt="icon"></ion-img>
        </div>
      </ion-card-content>
  </swiper-slide>
</swiper-container>
</ng-container>