<ion-tabs>

  <ion-tab-bar slot="bottom" class="py-2 bg-white">
    <ion-tab-button tab="explore" href="/tabs/explore">
      <ion-icon name="home-outline"></ion-icon>
      <!-- <ion-label>Explore</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="home" href="/tabs/home">
      <ion-img src="../../assets/about-icon.svg" alt="about"></ion-img>
      <!-- <ion-icon aria-hidden="true" name="triangle"></ion-icon> -->
      <!-- <ion-label>Home</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="men" href="/tabs/men">
      <ion-img src="../../assets/Shop-icon.svg" alt="shop"></ion-img>
      <!-- <ion-icon aria-hidden="true" name="ellipse"></ion-icon> -->
      <!-- <ion-label>Mens</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="women" href="/tabs/women">
      <ion-icon name="person-circle-outline"></ion-icon>
      <!-- <ion-label>Womens</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="candle" href="/tabs/candle">
      <ion-icon name="menu-outline"></ion-icon>
      <!-- <ion-label>Candles</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
