<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="explore" href="/tabs/explore">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Explore</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="men" href="/tabs/men">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Mens</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="women" href="/tabs/women">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Womens</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="candle" href="/tabs/candle">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Candles</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
