ion-breadcrumb{
    font-size: 12px;
}
.close-icon{
    top: 71px;
    right: 38px;
    position: absolute;
    z-index: 999;
}
input {
    width: 30px;
    height: 30px;
    // border-color: #c8bfc6;
    border: 1px solid #c8bfc6;
    text-align: center;
}
button {
    background: #f4f4f4 !important;
    border: 1px solid #c8bfc6;
    width: 30px;
    height: 30px;
}
.fs-12 {
    font-size: 12px;
}
.font-size{
    font-weight: 500;
}

 .font-color{
    color: #c8bfc6;
 }