 .bg-dropdwn{
    background-color: #f4f4f4;
 }
.gray-color{
 color: #f4f4f4 !important;
}
.font-color{
    color: #8e8e8e;
}
 .dropdown-menu{
    min-width:60px !important;
 }

 .fs-12{
    font-size: 12px !important;
 }
 .fs-14{
    font-size: 14px;
 }
 
 .form-select:focus {
    border-color:none !important;
    box-shadow:none !important; 
 }
 .p-0{
    padding: 0px !important;
 }