.nav-pills .nav-link.active {
    color: #000 !important;
     border-bottom: 3px solid #000 !important;
}
.nav-pills .nav-link{
    border-radius: 0 !important;
    padding: 0.5rem 0px;
    margin-right: 8px;
}