<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content class="px-0">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <p class="ion-text-center fs-16">
          “Let your Soul and Spirit fly into the Mystic”
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <h1 class="ion-text-center text-black fs-24 fw-400 border py-10">
          EXPLORE THE FRAGRANCES AND CANDLES
        </h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="col-12">
        <div
          id="carouselExampleControls"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <ion-card class="shadow-none">
                <ion-img
                  src="../../assets/product-img.svg"
                  alt="product"
                ></ion-img>
                <ion-card-header>
                  <ion-card-title class="ion-text-center fs-24"
                    >Salman by Morganti</ion-card-title
                  >
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <div
                    class="d-flex ion-align-items-center ion-justify-content-center"
                  >
                    <h2 class="fs-20 fw-700 text-black">
                      AED 1,250.00<span class="fw-200 ps-10"
                        >Plus GCC Duty & VAT</span
                      >
                    </h2>
                    <ion-img
                      src="../../assets/icon.svg"
                      class="ps-10"
                      alt="icon"
                    ></ion-img>
                  </div>
                </ion-card-content>
              </ion-card>
            </div>
            <div class="carousel-item">
              <ion-card class="shadow-none">
                <ion-img
                  src="../../assets/product-img.svg"
                  alt="product"
                ></ion-img>
                <ion-card-header>
                  <ion-card-title class="ion-text-center fs-24"
                    >Salman by Morganti</ion-card-title
                  >
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <div
                    class="d-flex ion-align-items-center ion-justify-content-center"
                  >
                    <h2 class="fs-20 fw-700 text-black">
                      AED 1,250.00<span class="fw-200 ps-10"
                        >Plus GCC Duty & VAT</span
                      >
                    </h2>
                    <ion-img
                      src="../../assets/icon.svg"
                      class="ps-10"
                      alt="icon"
                    ></ion-img>
                  </div>
                </ion-card-content>
              </ion-card>
            </div>
            <div class="carousel-item">
              <ion-card class="shadow-none">
                <ion-img
                  src="../../assets/product-img.svg"
                  alt="product"
                ></ion-img>
                <ion-card-header>
                  <ion-card-title class="ion-text-center fs-24"
                    >Salman by Morganti</ion-card-title
                  >
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <div
                    class="d-flex ion-align-items-center ion-justify-content-center"
                  >
                    <h2 class="fs-20 fw-700 text-black">
                      AED 1,250.00<span class="fw-200 ps-10"
                        >Plus GCC Duty & VAT</span
                      >
                    </h2>
                    <ion-img
                      src="../../assets/icon.svg"
                      class="ps-10"
                      alt="icon"
                    ></ion-img>
                  </div>
                </ion-card-content>
              </ion-card>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-img src="../../assets/image-2.svg" alt="product"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card class="outline-black ion-text-center ion-padding-vertical">
          <ion-img
            src="../../assets/logo.svg"
            style="width: 180px"
            class="img-center"
            alt="product"
          ></ion-img>
          <ion-card-header>
            <ion-card-subtitle class="fs-24 text-black fw-400 font-style"
              >HYPNOTIC</ion-card-subtitle
            >
          </ion-card-header>
          <ion-card-content class="fs-14 text-black">
            Introducing Hypnotic by Morganti Luxury – an extraordinary
            concentrated fragrance that combines the timeless elegance of Iris
            and Cedarwood with the fresh and citrusy notes of Neroli and the
            deep and mysterious aroma of Somalia Frankincense.
          </ion-card-content>
          <div class="d-flex ion-align-items-center ion-justify-content-center">
            <ion-icon
              name="card-outline"
              size="large"
              class="text-black"
            ></ion-icon>
            <span class="ps-10 fs-24 text-black">AED 950</span>
          </div>
          <ion-button
            fill="ion-outline-none"
            class="text-black outline-black ion-margin-top px-14"
            >Shop Now</ion-button
          >
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-img src="../../assets/image-3.svg" alt="product"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card class="outline-black ion-text-center ion-padding-vertical">
          <ion-img
            src="../../assets/logo.svg"
            style="width: 180px"
            class="img-center"
            alt="product"
          ></ion-img>
          <ion-card-header>
            <ion-card-subtitle class="fs-24 text-black fw-400 font-style"
              >HYPNOTIC</ion-card-subtitle
            >
          </ion-card-header>
          <ion-card-content class="fs-14 text-black">
            Introducing Hypnotic by Morganti Luxury – an extraordinary
            concentrated fragrance that combines the timeless elegance of Iris
            and Cedarwood with the fresh and citrusy notes of Neroli and the
            deep and mysterious aroma of Somalia Frankincense.
          </ion-card-content>
          <div class="d-flex ion-align-items-center ion-justify-content-center">
            <ion-icon
              name="card-outline"
              size="large"
              class="text-black"
            ></ion-icon>
            <span class="ps-10 fs-24 text-black">AED 950</span>
          </div>
          <ion-button
            fill="ion-outline-none"
            class="text-black outline-black ion-margin-top px-14"
            >Shop Now</ion-button
          >
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <h1 class="ion-text-center text-black fs-24 fw-400 border py-10">
          WOMEN FRAGRANCES
        </h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="col-12">
        <div
          id="carouselExampleControls"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <ion-card class="shadow-none">
                <ion-img
                  src="../../assets/product-img.svg"
                  alt="product"
                ></ion-img>
                <ion-card-header>
                  <ion-card-title class="ion-text-center fs-24"
                    >Salman by Morganti</ion-card-title
                  >
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <div
                    class="d-flex ion-align-items-center ion-justify-content-center"
                  >
                    <h2 class="fs-20 fw-700 text-black">
                      AED 1,250.00<span class="fw-200 ps-10"
                        >Plus GCC Duty & VAT</span
                      >
                    </h2>
                    <ion-img
                      src="../../assets/icon.svg"
                      class="ps-10"
                      alt="icon"
                    ></ion-img>
                  </div>
                </ion-card-content>
              </ion-card>
            </div>
            <div class="carousel-item">
              <ion-card class="shadow-none">
                <ion-img
                  src="../../assets/product-img.svg"
                  alt="product"
                ></ion-img>
                <ion-card-header>
                  <ion-card-title class="ion-text-center fs-24"
                    >Salman by Morganti</ion-card-title
                  >
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <div
                    class="d-flex ion-align-items-center ion-justify-content-center"
                  >
                    <h2 class="fs-20 fw-700 text-black">
                      AED 1,250.00<span class="fw-200 ps-10"
                        >Plus GCC Duty & VAT</span
                      >
                    </h2>
                    <ion-img
                      src="../../assets/icon.svg"
                      class="ps-10"
                      alt="icon"
                    ></ion-img>
                  </div>
                </ion-card-content>
              </ion-card>
            </div>
            <div class="carousel-item">
              <ion-card class="shadow-none">
                <ion-img
                  src="../../assets/product-img.svg"
                  alt="product"
                ></ion-img>
                <ion-card-header>
                  <ion-card-title class="ion-text-center fs-24"
                    >Salman by Morganti</ion-card-title
                  >
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <div
                    class="d-flex ion-align-items-center ion-justify-content-center"
                  >
                    <h2 class="fs-20 fw-700 text-black">
                      AED 1,250.00<span class="fw-200 ps-10"
                        >Plus GCC Duty & VAT</span
                      >
                    </h2>
                    <ion-img
                      src="../../assets/icon.svg"
                      class="ps-10"
                      alt="icon"
                    ></ion-img>
                  </div>
                </ion-card-content>
              </ion-card>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-img src="../../assets/image-4.svg" alt="product"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card class="outline-black ion-text-center ion-padding-vertical">
          <ion-img
            src="../../assets/logo.svg"
            style="width: 180px"
            class="img-center"
            alt="product"
          ></ion-img>
          <ion-card-header>
            <ion-card-subtitle class="fs-24 text-black fw-400 font-style"
              >HYPNOTIC</ion-card-subtitle
            >
          </ion-card-header>
          <ion-card-content class="fs-14 text-black">
            Introducing Hypnotic by Morganti Luxury – an extraordinary
            concentrated fragrance that combines the timeless elegance of Iris
            and Cedarwood with the fresh and citrusy notes of Neroli and the
            deep and mysterious aroma of Somalia Frankincense.
          </ion-card-content>
          <div class="d-flex ion-align-items-center ion-justify-content-center">
            <ion-icon
              name="card-outline"
              size="large"
              class="text-black"
            ></ion-icon>
            <span class="ps-10 fs-24 text-black">AED 950</span>
          </div>
          <ion-button
            fill="ion-outline-none"
            class="text-black outline-black ion-margin-top px-14"
            >Shop Now</ion-button
          >
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-img src="../../assets/image-5.svg" alt="product"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card class="outline-black ion-text-center ion-padding-vertical">
          <ion-img
            src="../../assets/logo.svg"
            style="width: 180px"
            class="img-center"
            alt="product"
          ></ion-img>
          <ion-card-header>
            <ion-card-subtitle class="fs-24 text-black fw-400 font-style"
              >HYPNOTIC</ion-card-subtitle
            >
          </ion-card-header>
          <ion-card-content class="fs-14 text-black">
            Introducing Hypnotic by Morganti Luxury – an extraordinary
            concentrated fragrance that combines the timeless elegance of Iris
            and Cedarwood with the fresh and citrusy notes of Neroli and the
            deep and mysterious aroma of Somalia Frankincense.
          </ion-card-content>
          <div class="d-flex ion-align-items-center ion-justify-content-center">
            <ion-icon
              name="card-outline"
              size="large"
              class="text-black"
            ></ion-icon>
            <span class="ps-10 fs-24 text-black">AED 950</span>
          </div>
          <ion-button
            fill="ion-outline-none"
            class="text-black outline-black ion-margin-top px-14"
            >Shop Now</ion-button
          >
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="col-12">
        <div
          id="carouselExampleControls"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <ion-card class="shadow-none">
                <ion-img
                  src="../../assets/product-img.svg"
                  alt="product"
                ></ion-img>
                <ion-card-header>
                  <ion-card-title class="ion-text-center fs-24"
                    >Salman by Morganti</ion-card-title
                  >
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <div
                    class="d-flex ion-align-items-center ion-justify-content-center"
                  >
                    <h2 class="fs-20 fw-700 text-black">
                      AED 1,250.00<span class="fw-200 ps-10"
                        >Plus GCC Duty & VAT</span
                      >
                    </h2>
                    <ion-img
                      src="../../assets/icon.svg"
                      class="ps-10"
                      alt="icon"
                    ></ion-img>
                  </div>
                </ion-card-content>
              </ion-card>
            </div>
            <div class="carousel-item">
              <ion-card class="shadow-none">
                <ion-img
                  src="../../assets/product-img.svg"
                  alt="product"
                ></ion-img>
                <ion-card-header>
                  <ion-card-title class="ion-text-center fs-24"
                    >Salman by Morganti</ion-card-title
                  >
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <div
                    class="d-flex ion-align-items-center ion-justify-content-center"
                  >
                    <h2 class="fs-20 fw-700 text-black">
                      AED 1,250.00<span class="fw-200 ps-10"
                        >Plus GCC Duty & VAT</span
                      >
                    </h2>
                    <ion-img
                      src="../../assets/icon.svg"
                      class="ps-10"
                      alt="icon"
                    ></ion-img>
                  </div>
                </ion-card-content>
              </ion-card>
            </div>
            <div class="carousel-item">
              <ion-card class="shadow-none">
                <ion-img
                  src="../../assets/product-img.svg"
                  alt="product"
                ></ion-img>
                <ion-card-header>
                  <ion-card-title class="ion-text-center fs-24"
                    >Salman by Morganti</ion-card-title
                  >
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <div
                    class="d-flex ion-align-items-center ion-justify-content-center"
                  >
                    <h2 class="fs-20 fw-700 text-black">
                      AED 1,250.00<span class="fw-200 ps-10"
                        >Plus GCC Duty & VAT</span
                      >
                    </h2>
                    <ion-img
                      src="../../assets/icon.svg"
                      class="ps-10"
                      alt="icon"
                    ></ion-img>
                  </div>
                </ion-card-content>
              </ion-card>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="bg-dark">
    <ion-row class="ps-4">
      <ion-col size="12" size-sm="6" size-md="3" class="mt-5">
        <div class="address-section">
          <div class="contact-info">
            <h5 class="text-white fs-6">UAE ADDRESS</h5>
            <ul class="nav flex-column ps-3 mt-3">
              <li class="nav-item">
                <a class="nav-link p-0 text-white" aria-current="page" href="#"
                  ><ion-icon name="location-outline" slot="start"></ion-icon>Al
                  Bataeh 1 Street</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link p-0 text-white" href="#"
                  ><ion-icon name="mail-outline" slot="start"></ion-icon> P.O.
                  Box : 111149</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link p-0 text-white" href="#"
                  ><ion-icon name="globe-outline" slot="start"></ion-icon>
                  United Arab Emirates
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link p-0 text-white" href="#">
                  <ion-icon name="call-outline" slot="start"></ion-icon> +971 50
                  706 26 29
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link p-0 text-white" href="#"
                  ><ion-icon name="mail-outline" slot="start"></ion-icon>
                  contact@morgantiluxury.com
                </a>
              </li>
            </ul>
          </div>
        </div>
      </ion-col>
      <ion-col size="12" size-sm="6" size-md="3" class="mt-3">
        <div class="links-section">
          <div class="links-info">
            <h5 class="text-white fs-6">QUICK LINKS</h5>
            <ul class="nav flex-column ps-3 mt-3">
              <li class="nav-item">
                <a class="nav-link p-0 text-white" aria-current="page" href="#"
                  >About Us</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link p-0 text-white" href="#"
                  >Women's Fragrances</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link p-0 text-white" href="#"
                  >Men's Frangrances</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link p-0 text-white" href="#">Candles</a>
              </li>
              <li class="nav-item">
                <a class="nav-link p-0 text-white" href="#">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </ion-col>
       <ion-col size="12" size-sm="6" size-md="3" class="my-3">
        <div class="customer-section">
          <div class="support-links">
            <h5 class="text-white fs-6">CUSTOMER SUPPORT</h5>
            <ul class="nav flex-column ps-3 mt-3">
              <li class="nav-item">
                <a class="nav-link p-0 text-white" aria-current="page" href="#"
                  >Morganti Luxury Boutique Displays</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link p-0 text-white" href="#"
                  >Sign in/My Account</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link p-0 text-white" href="#">Privacy Policy</a>
              </li>
              <li class="nav-item">
                <a class="nav-link p-0 text-white" href="#">Terms&Conditions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link p-0 text-white" href="#">Delivery&Returns</a>
              </li>
            </ul>
          </div>
        </div>
      </ion-col>

      <ion-col size="12" size-sm="6" size-md="3" class="mb-3">
        <div class="gb-address">
          <div class="gb-info">
            <h5 class="text-white fs-6">GB ADDRESS</h5>
            <p class="ps-3 mt-3 text-white">
              <ion-icon name="location-outline" slot="start"></ion-icon>71-75
              Shelton Street <br />WC2H 9JQ-London <br />United Kingdom
            </p>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="mt-3">
      <ion-col size="12">
        <div class="morganti-heading">
          <h2 class="ion-text-center text-white fs-6">JOIN MORGANTI</h2>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <span class="ion-text-center text-white border-bottom line"></span>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div class="social-icons">
          <ion-buttons class="ion-justify-content-center">
            <ion-button shape="round" fill="clear">
              <ion-icon name="logo-facebook"></ion-icon>
            </ion-button>
            <ion-button shape="round" fill="clear">
              <ion-icon name="logo-twitter"></ion-icon>
            </ion-button>
            <ion-button shape="round" fill="clear">
              <ion-icon name="logo-youtube"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="my-3 px-3">
      <ion-col size="12">
        <div class="newsletter-heading">
          <h2 class="ion-text-center text-white fs-6 pb-3">
            SUBSCRIBE TO OUR NEWSTELLER
          </h2>
          <div class="input-bar">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Email address"
              />
              <ion-button color=" text-white">SUBSCRIBE</ion-button>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="mt-5">
      <ion-col size="12">
        <div class="help=section">
          <h5 class="ion-text-center text-white fs-6">NEED HELP?</h5>
          <div class="time-sectopn pt-2">
            <p class="ion-text-center text-white">
              +971 50 706 26 29 Monday to Friday – 10 a.m. – 7 p.m. and Saturday
              – 10 a.m. – 5 p.m. (Excluding public holidays)
            </p>
          </div>
        </div>
      </ion-col>
    </ion-row>
   <ion-row class="mt-3">
      <ion-col size="12" class="ion-justify-content-center">
        <div class="payment-dection">
          <h5 class="ion-text-center text-white fs-6">SECURE PAYMENT</h5>
          <ion-item class="pt-3">
            <div class="Payment-cards-img">
              <ion-img src="./../../assets/payment-cards.svg" alt=""></ion-img>
            </div>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
