<ion-grid>
  <ion-row>
    <ion-col size="12" class="bg-transparent">
      <app-category-filter
        (onCategorySelect)="handleCategorySelect($event)"></app-category-filter>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <p class="ion-text-center fs-16">
        “Let your Soul and Spirit fly into the Mystic”
      </p>
    </ion-col>
  </ion-row>

  <ng-container *ngFor="let item of [0]">
    <app-card-product
      [product]="cardProducts[item]"
      (handleShopButtonClick)="handleShopButtonClick($event)"></app-card-product>
  </ng-container>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col size="12">
      <h1 class="ion-text-center text-black fs-24 fw-400 border py-10">
        EXPLORE THE FRAGRANCES AND CANDLES
      </h1>
    </ion-col>
  </ion-row>
</ion-grid>
  
<app-slider-product [sliderProducts]="products"></app-slider-product>

<ion-grid>
  <ng-container *ngFor="let item of [1, 2]">
    <app-card-product
      [product]="cardProducts[item]"
      (handleShopButtonClick)="handleShopButtonClick($event)"></app-card-product>
  </ng-container>

  <ion-row>
    <ion-col size="12">
      <h1 class="ion-text-center text-black fs-24 fw-400 border py-10">
        WOMEN FRAGRANCES
      </h1>
    </ion-col>
  </ion-row>
</ion-grid>

<app-slider-product [sliderProducts]="products"></app-slider-product>

<ion-grid>
  <ng-container *ngFor="let item of [3, 4]">
    <app-card-product
      [product]="cardProducts[item]"
      (handleShopButtonClick)="handleShopButtonClick($event)"></app-card-product>
  </ng-container>
</ion-grid>
  
<ion-row>
  <ion-col size="12">
    <h1 class="ion-text-center text-black fs-24 fw-400 border py-10">
      SCENT CANDLES
    </h1>
  </ion-col>
</ion-row>

<app-slider-product [sliderProducts]="products"></app-slider-product>
