<app-slider-product [sliderProducts]="products"></app-slider-product>
<ion-grid>
  <ion-row class="my-4">
    <ion-col size="12" class="bg-transparent">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active bg-transparent text-body-tertiary fw-bold" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Men</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link bg-transparent text-body-tertiary fw-bold" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Women's</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link bg-transparent text-body-tertiary fw-bold" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Candles</button>
        </li>
      </ul>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <p class="ion-text-center fs-16">
        “Let your Soul and Spirit fly into the Mystic”
      </p>
    </ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col size="12">
      <h1 class="ion-text-center text-black fs-24 fw-400 border py-10">
        EXPLORE THE FRAGRANCES AND CANDLES
      </h1>
    </ion-col>
  </ion-row>
  
  <app-slider-product [sliderProducts]="products"></app-slider-product>
  
  <app-card-product [product]="products[0]"></app-card-product>
  <app-card-product [product]="products[1]"></app-card-product>

  <ion-row>
    <ion-col size="12">
      <h1 class="ion-text-center text-black fs-24 fw-400 border py-10">
        WOMEN FRAGRANCES
      </h1>
    </ion-col>
  </ion-row>

  <app-slider-product [sliderProducts]="products"></app-slider-product>
  
  <app-card-product [product]="products[2]"></app-card-product>
  <app-card-product [product]="products[3]"></app-card-product>
  
  <app-slider-product [sliderProducts]="products"></app-slider-product>
</ion-grid>
