.fs-16{
    font-size: var(--fs-16) !important;
}
.fs-13{
    font-size: var(--fs-13) !important;
}

.bordered-span {
    width: 100%;
    height: 1px;
    background-color: #000000;
     margin: auto;
  }