<ion-header>
  <ion-toolbar>
    <!-- Empty Header -->
  </ion-toolbar>
</ion-header>

<div style="--ion-background-color: white; color: black; font-family: Montserrat, sans-serif;">
  <ion-row class="border-top border-bottom gray-color">
    <ion-col size="12">
      <ion-breadcrumbs>
        <ion-breadcrumb class="font-color fs-14" href="#home"
          ><ion-icon name="home-outline" class="p-0"></ion-icon
          > </ion-breadcrumb
        >
        <ion-breadcrumb
          class="font-color small fw-light p-0"
          href="#electronics"
          >Term & Condition</ion-breadcrumb
        >
      </ion-breadcrumbs>
    </ion-col>
  </ion-row>
  <ion-card-header class="pb-0 mt-2">
    <ion-card-title class="ion-text-center ion-text-very-large text-black fs-1">
      Term & Conditions
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-card-header class="pt-3">
      <ion-card-title class="ion-text-left text-black">
        <h4 class="fs-6 fw-light">General Information</h4>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content class="pb-0">
      <p>The website <a class="text-black fw-bold"  href="#">www.morgantiluxury.com</a>
         (hereafter referred to as the “Website”) is operated by
          Morganti LLP trading as Morganti Luxury&nbsp; LLC limited liability
           company duly organized under the laws of the United Arab Emirates with headquarters 
        located at PO Box 111149, Dubai, United Arab Emirates.</p>
        <p class="mt-4">Emirates whose paid share capital is 100,000 United Arabic Dirhams
           (hereafter referred to as “Morganti Luxury ”, “we”, “us”, “ours”).</p>
           <p class="my-4">The Website is the exclusive property of Morganti Luxury&nbsp;
             the sole entity authorized to use and exploit the intellectual property rights, 
             individual rights and any other intellectual property right relating to this Website
              and owned by or expressly licensed to Morganti Luxury&nbsp; 
            particularly the brands, drawings, models, copyrights and image rights.</p>
            <p>If you have any doubts, questions or suggestions, please send us your comments
               by email to:&nbsp;
               <a class="text-black fw-bold"  href="http://www.acithost.com/perfumes/terms-conditions/contact@morgantiluxury.com">
              contact@morgantiluxury.com</a></p>
    </ion-card-content>

    <ion-card-header>
      <ion-card-title class="ion-text-left text-black pt-0">
        <h4 class="fs-6 fw-light">Website Terms of Use</h4>
        
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Browsing this Website and the use of its contents are subject to
         these Morganti Luxury&nbsp; 
        Terms of Use (hereafter referred to as “Terms of Use”).&nbsp;</p>
        <p class="my-4">By accessing and browsing this Website, the user fully accepts these Terms of Use
          . Purpose and Scope of Application The purpose of these General Conditions of Contract
           is to regulate the availability of the information provided in the online store on the
            Website as well as the commercial transactions that take place between Morganti 
            Luxury and the users of the domain
           <a class="text-black fw-bold" href="https://morgantiluxury.com/">www.morgantiluxury.com</a>&nbsp;</p>
           <p>Morganti Luxury can modify the Website and/or Conditions at any time
             and without notice whenever
             it deems it useful or necessary for the Website to function properly.</p>
             <p class="my-4">These Conditions must therefore be read before placing each order.
               All Website users can print and/or save these Conditions digitally in order 
               to read our Conditions in greater detail. The Morganti Luxury Products offered
                on the Website are distributed mainly in the United Arab Emirates but also 
              in other GCC countries (hereafter referred to as the “Delivery Zone”).</p>
              <p>Any order with a delivery address located outside the Delivery Zone will 
                be rejected during the order process. The purpose of these Terms of Use and 
                the General Conditions of Contract (hereafter referred to as the “Conditions”)
                 is to regulate the use of the Website, the availability of the information provided
                  in the online store at the Website as well as the commercial transactions that take
                   place between
                 Morganti Luxury and the users of the domain of the Website.</p>
                 <p class="my-4">The Terms of Use and Conditions are collectively referred to as 
                  the “Terms and Conditions” Morganti Luxury can modify the Website and/or
                   the Terms and Conditions at any time and without notice whenever it deems it 
                   useful or necessary for the Website to function properly. 
                  These Conditions must therefore be read before placing each order.</p>
                  <p>Accordingly, we invite you to regularly check these Terms and Conditions.
                     All Website users can print and/or save these Conditions digitally in 
                    order to read our Conditions in greater detail.</p>
                    <p class="my-4">By browsing the Website the user fully accepts all of the Website’s Terms
                       of Use and General Conditions 
                      of Contract as well as its Privacy Policy</p>
                      <p>Use of all or part of the Website, particularly for downloading,
                         reproducing, transmitting or representing its content for reasons other than personal,
                         private and noncommercial use, is strictly prohibited.</p>    
                         <p class="my-4">Morganti Luxury does its best to ensure that the information published 
                          on the Website is accurate and up-to-date and
                           reserves the right to correct its contents at any time.</p>
                           <p>Morganti Luxury disclaims all liability for:</p>
                           <p>(i) Any ambiguities, inaccuracies, omissions or damage resulting from a 
                            third-party intrusion that has
                             modified the information contained on the Website.</p>
                             <p>(ii) Damage caused by unauthorized third-party access to the
                               Website or the inability to access the Website.</p>
                               <p class="my-4">Morganti Luxury accepts no responsibility for the content of other
                                 pages linked to the Website. Morganti Luxury hereby informs
                                 Website users that the Terms of Use may be modified at any time.</p>
                                 <p>These modifications become effective as soon as they are published on the 
                                  Website, and any user who subsequently accesses the Website fully accepts these modifications. It
                                   is therefore the user’s responsibility to 
                                  read these Terms of Use carefully prior to browsing the Website.</p>
                                  <p class="mt-4">The user is hereby informed that Morganti Luxury may interrupt access to
                                     the Website at any time for maintenance, security or any other reason.&nbsp;</p>
    </ion-card-content>

    <ion-card-header>
      <ion-card-title class="ion-text-left text-black">
        <h4 class="fs-6 fw-light">Your Content</h4>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>You are responsible for your use of the Website, 
        for any information, text, graphics, photos or other materials which 
        you upload or post to the Website
         (collectively “Your Content”), and for any consequences thereof.</p>
         <p class="my-4">Most content you submit, post, or display through the
           Website is public by default and will be able to be viewed by 
           other users and through third party services and websites 
           (with&nbsp; the exclusion of your purchase information unless
           it is provided for purposes other than the purchase).</p>
           <p>You should only provide content that you are comfortable
             sharing with others under these Terms and Conditions.
              When posting Your Content, you agree not to make comments
               that are not factual in nature including without limitation 
               making any racist comments, using profanity, abusing another user
               , disrespecting another culture or
             any other derogatory or inappropriate comments.</p>
             <p class="my-4">We may not monitor or control Your Content and, 
              we cannot take responsibility for Your Content. 
              Any use or reliance on Your Content, or content provided 
              by any party other than Morganti Luxury (such as other users) 
              (“Other Content”) or obtained by 
              you through the Website is at your own risk.</p>
              <p>Your Content may be moderated and may take up 
                to 48 hours to be displayed but Morganti Luxury 
                does not commit to checking all Your Content or 
                Other Content and will not be liable for the same. If you have a
                 complaint about any posts please contact our Customer Service.</p>
                 <p class="my-4">Morganti Luxury reserves the right, in its sole discretion, 
                  not to publish or to remove any Your Content or Other Content
                   that it believes may be unlawful, defamatory, racist or libelous,
                    incite hatred or violence, detrimental to people, institutions,
                     religions or to people’s privacy, which may cause harm to minors, 
                     is detrimental to the trade marks, patents and copyrighted content,
                      contains personal data or improperly
                   uses the medium for promoting and advertising businesses.</p>
                   <p>We do not endorse, support, represent or guarantee the 
                    completeness, truthfulness, accuracy, or reliability of Other
                     Content or endorse any opinions expressed via the Website.</p>
                     <p class="my-4">You understand that by using the Website, you may be exposed 
                      to Other Content that might be offensive, harmful, inaccurate or 
                      otherwise inappropriate, or in some cases, postings that have been 
                      mislabeled or are otherwise deceptive.</p>
                      <p>Under no circumstances will we be liable in any way for 
                        any of Your Content or Other Content, including, but not 
                        limited to, any errors or omissions in Your Content or Other 
                        Content, or any loss or damage of any kind incurred as a result 
                        of the use of Your Content or Other Content posted, emailed, 
                        transmitted or otherwise made available 
                        via the Website or broadcast elsewhere.</p>
                        <p class="my-4">You retain your rights to Your Content. By submitting,
                           posting or displaying Your Content on or through the Website,
                            you grant us a worldwide, non-exclusive, royalty-free license 
                            (with the right to sublicense) to use, copy, reproduce, process, 
                            adapt, modify, publish, transmit, display and distribute Your Content 
                            in any and all media or 
                          distribution methods (now known or later developed).</p>
                          <p>You agree that this license includes the right for Morganti
                             Luxury to provide, promote, and improve the services it provides
                              and to make Your Content available to other companies, organizations
                               or individuals who partner with Morganti Luxury for the syndication,
                                broadcast, distribution or publication of Your Content on other media and services, 
                            subject to our terms and conditions for Your Content use.</p>
                            <p class="my-4">Such additional uses by Morganti Luxury or other companies,
                               organizations or individuals who partner with Morganti Luxury,
                                may be made with no compensation paid to you with respect to Your Content. 
                                We may modify or adapt Your Content in order to transmit, display or distribute
                                 it over computer networks and in various media and/or make changes to Your Content
                                  as are necessary to conform and adapt Your Content to any requirements or limitations
                                   of any
                               networks, devices, services or media.</p>
                               <p>We also reserve the right to access, read, preserve, and 
                                disclose any information as we reasonably believe is necessary to</p>
                                <p>(i) satisfy any applicable law, regulation, legal process or governmental request</p>
                                <p>(ii) enforce the Terms and Conditions, 
                                  including investigation of potential violations hereof</p>
                                  <p>(iii) detect, prevent, or otherwise address fraud, security or technical issues</p>
                                  <p>(iv) respond to user support requests, or (v) protect the rights, property or safety 
                                    of Morganti Luxury, its users and the public.</p>
                                    <p class="mt-4">You may not do any of the following while accessing or using the Website:</p>
                                    <ul><li class="small">Access, tamper with, or use non-public areas of the Website, our computer</li></ul>
                                    <span class="bordered-span d-block mt-5"></span>
    </ion-card-content>
</ion-card-content>
</div>